*, *:before, *:after {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.editor {
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
  height: auto
  !important;
  height: 100%;
  min-height: 100%;
}

.input-area,
.preview-area {
  padding: 20px;
  white-space: normal;
}

.input-area {
  border: none;
  font-size: 100%;
  height: 100%;
}

.header {
  position: static;;
  width: 100%;
  height: 100px;
  background-color: #4E9ABE;
  color: #fff;
}

.pane {
  width: 20px;
}
